svg {
  fill: #ffc40e;
  width: 60px;
  height: 60px; }

.icon-scale {
  animation: icon-scale 0.4s ease-in-out; }

@keyframes icon-scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }
.h4 {
  animation: toogle 1s ease-in-out; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
body {
  font-family: "Open Sans", sans-serif;
  color: #747373;
  background-color: #f7f5f5; }

p {
  margin: 0 !important; }

h2 {
  margin: 0; }

ul {
  margin: 0 !important; }

header {
  color: #747373;
  background-image: url(../img/bg02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center right; }

button, input[type=submit] {
  cursor: pointer; }

section {
  padding: 50px 0; }

a:hover {
  text-decoration: none; }

.mobile-menu {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  background-color: #191919;
  width: 100%;
  z-index: 99999;
  transform: translateY(-100%);
  padding: 65px 0 20px 0;
  justify-content: center;
  align-items: center;
  transition: all .4s linear; }
  .mobile-menu.show {
    transform: translateY(0%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5); }
  .mobile-menu ul {
    padding: 0; }
    .mobile-menu ul li {
      line-height: 2rem;
      list-style: none;
      text-align: center;
      display: block !important; }

.header-contact {
  background-color: #232323;
  padding: 7px 0;
  font-size: 0.8rem;
  font-weight: 600;
  color: #b29334; }

.header-contact-element {
  float: right;
  padding-left: 10px; }

.header-nav {
  font-weight: 600;
  padding: 10px 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .header-nav {
      height: 110px; } }
  .header-nav .logo {
    text-align: left; }

.header-nav-fixed {
  display: flex;
  align-items: center;
  top: 0;
  background-color: #191919;
  position: fixed;
  padding: 10px 0;
  overflow: hidden;
  transform: translateY(-100%);
  transition: all .4s linear;
  width: 100%;
  z-index: 999999; }
  .header-nav-fixed.visible {
    transform: translateY(0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }
  .header-nav-fixed .logo {
    text-align: left; }
    .header-nav-fixed .logo h1 {
      font-size: 1.2rem; }
  .header-nav-fixed .logo {
    color: #ffc40e;
    font-size: 1.2rem; }
  .header-nav-fixed nav li {
    color: #ffc40e;
    font-size: .7rem; }
    .header-nav-fixed nav li:hover {
      color: #94781d; }

.small-size-menu-container {
  display: none;
  justify-content: center;
  margin: 30px 0; }
  .small-size-menu-container li {
    list-style: none;
    text-transform: uppercase;
    padding: 5px 0;
    border-bottom: 1px solid #2d2d2d; }
    .small-size-menu-container li:last-child {
      border: none; }

.small-size-menu-display {
  display: none; }
  @media only screen and (max-width: 768px) {
    .small-size-menu-display {
      display: flex; } }

.logo {
  color: #ffc40e;
  font-weight: 700;
  text-align: center; }
  .logo h1 {
    font-size: 1.6rem;
    margin: 0;
    font-family: "Open Sans";
    font-weight: 700; }
    .logo h1 a {
      color: inherit; }

nav {
  text-align: right;
  margin: auto 0;
  color: #929292; }
  @media only screen and (max-width: 768px) {
    nav ul {
      display: none; } }
  nav li {
    margin-left: 40px;
    color: #fff;
    font-weight: 600;
    display: inline;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out; }
    nav li:hover {
      cursor: pointer;
      color: #ffc40e; }

.nav-link {
  display: inline;
  padding: 0; }

.hamburger {
  position: relative;
  display: none;
  float: right; }
  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block; } }
  .hamburger span {
    display: block;
    margin-top: 5px;
    height: 3px;
    width: 24px;
    border-radius: 2px;
    background-color: #ffc40e; }

.ham-1-span {
  transform: rotate(45deg); }

.ham-2-span {
  transform: rotate(-45deg);
  position: absolute;
  top: 0 !important; }

.ham-3-span {
  display: none !important; }

.flex-container {
  padding: 80px 0; }
  @media only screen and (max-width: 576px) {
    .flex-container {
      background-attachment: fixed; } }

.flex {
  height: 100%; }

.flex-heading {
  display: none; }
  .flex-heading p {
    padding: 15px 0;
    margin: 0;
    font-size: 0.86rem;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 10px !important; }
  .flex-heading h2 {
    font-family: "Lato", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem; }
    @media only screen and (max-width: 768px) {
      .flex-heading h2 {
        font-size: 2rem; } }
    .flex-heading h2 span {
      color: #ffc40e;
      font-size: 5rem; }
      @media only screen and (max-width: 768px) {
        .flex-heading h2 span {
          font-size: 3rem; } }

.btn-yellow {
  color: #fff;
  background-color: inherit;
  border: 2px solid #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s ease-out;
  cursor: pointer;
  opacity: 0.8;
  padding: .5rem 1rem; }
  .btn-yellow:hover {
    background-color: #fff;
    color: #191919; }

.section-content-left-border {
  margin: 50px 0;
  border-left: 4px solid #ffc40e; }
  @media only screen and (max-width: 768px) {
    .section-content-left-border {
      margin: 30px 0; } }

#about {
  background-color: #f7f5f5; }

.section-head {
  padding-left: 25px;
  opacity: 0;
  position: relative;
  top: 80px; }
  .section-head h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #9c9c9c; }
    @media only screen and (max-width: 768px) {
      .section-head h3 {
        font-size: 0.95rem; } }
  .section-head h4 {
    margin-top: 15px;
    font-size: 1.55rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #404040; }
    @media only screen and (max-width: 768px) {
      .section-head h4 {
        font-size: 1.2rem; } }
    .section-head h4:before {
      content: ' ';
      display: inline-block;
      margin: 0px 18px -1px -38px;
      height: 22px;
      content: " ";
      text-shadow: none;
      background-color: #ffc40e;
      width: 22px;
      border-radius: 50%; }
      @media only screen and (max-width: 768px) {
        .section-head h4:before {
          margin: 0px 18px -3px -38px; } }
  .section-head p {
    font-size: 0.9rem;
    color: #9c9c9c; }

.contact-us {
  padding: 20px 0;
  background-color: #191919;
  font-family: "Lato", sans-serif; }
  .contact-us .container {
    background-image: url("../img/contact-me-bg-pattern.png");
    padding: 20px 15px; }
  .contact-us .row {
    position: relative;
    align-items: center;
    justify-content: center; }
    .contact-us .row h3 {
      color: #fafafa;
      font-size: 2rem; }
      @media only screen and (max-width: 768px) {
        .contact-us .row h3 {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 576px) {
        .contact-us .row h3 {
          font-size: 1rem; } }
  .contact-us button {
    position: absolute;
    top: calc(50% + 40px); }

.contact-btn {
  box-shadow: 0 1px 0 #af8706;
  background-color: #ffc40e;
  border: 2px solid #ffc40e;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s ease-out;
  color: #fff; }
  .contact-btn:hover {
    background-color: #d4a81b;
    color: #fff;
    border-color: #d4a81b; }
  .contact-btn span {
    font-size: .74rem;
    font-weight: 600;
    display: block;
    margin-top: 2px; }

.about-container {
  margin-top: 50px;
  padding: 0 100px;
  border-radius: 2px;
  font-size: 0.95rem;
  color: #9c9c9c;
  width: 80%; }
  .about-container h5 {
    color: #747373;
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 15px; }
    .about-container h5 span {
      color: #ffc40e; }
    .about-container h5:after {
      content: '';
      display: block;
      padding-top: 15px;
      border-bottom: 1px solid #f4f4f4; }
  .about-container img {
    width: 100%;
    height: 100%;
    margin-left: -4px; }

.about-desc {
  padding: 30px 25px; }

.boxes-container {
  padding: 0 100px;
  position: relative;
  margin-top: 60px; }
  @media only screen and (max-width: 576px) {
    .boxes-container {
      padding: 0 40px; } }

.box {
  position: relative;
  top: 50px;
  opacity: 0;
  padding: 5px;
  margin-bottom: 20px; }

.box-content {
  text-align: center; }
  .box-content h5 {
    margin: 45px 0 !important;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600; }
    @media only screen and (max-width: 1200px) {
      .box-content h5 {
        margin: 35px 0 !important; } }
  .box-content p {
    font-size: 0.9rem; }

.box-img {
  position: relative;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center; }
  .box-img img {
    border: 2px dashed #ffc505;
    border-radius: 50%;
    padding: 5px; }

.box-img-border {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px dashed #ccc;
  animation: rotate 8s linear infinite; }

#counters {
  padding: 80px 0;
  background-image: url(../img/bg04.jpg);
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center; }
  #counters .row {
    justify-content: space-around; }
  #counters .section-boxes {
    margin-top: 0px;
    color: white;
    opacity: 1;
    max-width: 860px;
    width: 100%; }
  #counters h4 {
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #f5f5f5; }
  #counters p {
    font-size: 1rem;
    opacity: 0.8; }

.counter-box {
  text-align: center;
  display: none;
  padding: 30px 0;
  border: 4px dashed #cca014; }
  @media only screen and (max-width: 768px) {
    .counter-box {
      margin-bottom: 20px; } }
  .counter-box .fa {
    font-size: 3rem;
    text-shadow: 1px 1px 7px #b48e14; }

#quotes {
  background-color: #f7f5f5; }
  #quotes .section-content {
    overflow: hidden; }
  #quotes .section-head {
    border-left: 4px solid #ffc40e; }
    #quotes .section-head h3 {
      color: #ffc40e; }
    #quotes .section-head h4:before {
      content: none; }

.quotes-container {
  opacity: 0;
  margin-top: 60px;
  display: flex;
  width: 200%;
  transition: all .4s linear; }
  @media only screen and (max-width: 768px) {
    .quotes-container {
      margin-top: 40px; } }
  .quotes-container .row {
    position: relative;
    left: -170px;
    display: none; }
    .quotes-container .row:first-child {
      display: flex;
      left: 0; }
    .quotes-container .row:last-child {
      display: flex;
      left: 0; }

.slider-section {
  display: flex; }
  @media only screen and (max-width: 992px) {
    .slider-section {
      display: block; } }

.quote {
  background-color: #ddd;
  padding: 15px 20px 15px 55px;
  font-style: italic;
  color: #9c9c9c;
  box-shadow: 0 2px 3px 0 rgba(39, 41, 48, 0.08);
  border-radius: 2px;
  position: relative; }
  .quote:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    font-size: 22px;
    color: #666666;
    position: absolute;
    left: 15px;
    font-style: normal; }
  .quote:after {
    content: "";
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid #ddd;
    border-bottom: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    right: 0;
    font-style: normal; }

.quote-desc {
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 20px;
  text-transform: uppercase; }

.quotes-nav-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%; }

.quote-nav {
  padding: 0; }
  .quote-nav li {
    margin-left: 5px;
    height: 5px;
    width: 25px;
    display: inline-block;
    background-color: grey;
    list-style: none;
    cursor: pointer; }

.nav-bar-activ {
  background-color: #ffc40e !important; }

.nav-bar {
  background-color: #9c9c9c; }

#offert {
  background-color: #e6e6e6; }
  #offert .box {
    top: 40px; }
  #offert img {
    border: 0;
    border-radius: 0; }
  #offert p {
    text-align: left; }
  #offert h5 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #5a5a59; }
    #offert h5 span {
      font-size: 1.1rem;
      font-weight: 500; }
  #offert .section-head {
    border-left: 4px solid #ffc40e;
    position: relative;
    top: 40px;
    margin-bottom: 60px; }
    @media only screen and (max-width: 768px) {
      #offert .section-head {
        margin-bottom: 40px; } }
    #offert .section-head h3 {
      color: #ffc40e; }
    #offert .section-head h4:before {
      content: none; }

.services-list {
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 0.9rem; }
  .services-list li {
    color: #ffc40e;
    list-style: square; }
    .services-list li span {
      color: #747373; }

.box-service {
  box-shadow: 0 2px 3px 0 rgba(39, 41, 48, 0.08);
  padding: 40px;
  background-color: #fff; }

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center; }

.btn-main {
  border: 2px solid #ffc40e;
  background-color: transparent;
  color: #ffc40e;
  font-size: .9rem;
  padding: 5px 15px; }

#contact-form {
  background-color: #191919; }
  #contact-form .form-control {
    color: #cacaca !important;
    font-size: 0.9rem;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #313030; }
    #contact-form .form-control:focus {
      background-color: transparent; }
  #contact-form .section-head {
    margin-bottom: 30px;
    padding-left: 0; }
    #contact-form .section-head h3 {
      color: #ffc40e;
      font-size: 1.6rem;
      text-align: center; }
  #contact-form .contact-btn {
    color: #191919; }
    #contact-form .contact-btn:hover {
      color: #191919; }

footer {
  background-color: #0e0e0e;
  padding: 40px 15px;
  font-size: 0.9rem; }
  footer .logo {
    color: #898989; }
  footer a {
    color: #747373; }
    footer a:hover {
      color: #747373;
      text-decoration: underline; }

.footer-logo {
  margin-bottom: 20px; }

.footer-nav {
  margin-bottom: 40px; }
  @media only screen and (max-width: 992px) {
    .footer-nav {
      text-align: center; } }
  .footer-nav ul {
    padding: 0; }
    .footer-nav ul li {
      margin: 7px 0;
      list-style: none; }
      .footer-nav ul li:hover {
        text-decoration: underline;
        cursor: pointer; }

.footer-desc {
  font-size: 0.81rem;
  border-top: 1px solid #232323;
  text-align: center;
  color: #585858;
  margin: 0px 40px;
  padding-top: 25px; }

.footer-desc-sm-size {
  display: none; }
  @media only screen and (max-width: 992px) {
    .footer-desc-sm-size {
      display: block;
      text-align: center;
      margin-top: 40px; } }

.footer-contact {
  margin-bottom: 40px; }

.form-container {
  opacity: 0;
  position: relative;
  top: 50px; }
  .form-container .section-head {
    opacity: 1;
    top: 0; }

.footer-info {
  opacity: 0; }
  .footer-info h5 {
    margin-bottom: 15px;
    color: #5f5c5c;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600; }

.copyright-container {
  margin-top: 10px;
  display: flex;
  justify-content: center; }

.copyright {
  margin-bottom: 10px !important; }

/*# sourceMappingURL=style.css.map */
